#loading-wrapper {
	background-color: grey;
	font-size: 50px;
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

#loading {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	padding: 30px;
	position: absolute;
	width: auto;
	height: auto;
}